.fs-contact-form_wrapper {
  .gform_body > ul.gform_fields {
    margin-left: -15px;
    margin-right: -15px;
  }

  input[type='submit'] {
    width: 100%;
  }
}

.page-template-template-contact {
  .gform_confirmation_wrapper {
    text-align: center;
  }
}
